version: '3.9'

services:
  database:
    image: gabrielpacificooo/grotrack:database
    container_name: database-grotrack
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: grotrack
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - grotrack-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 5s
    restart: unless-stopped

  backend:
    image: gabrielpacificooo/grotrack:back-end
    container_name: back-end-grotrack
    depends_on:
      database:
        condition: service_healthy
    environment:
      ACTIVE_PROFILE: mysql
      JWT_SECRET: "RXhpc3RlIHVtYSB0ZW9yaWEgcXVlIGRpeiBxdWUsIHNlIHVtIGRpYSBhbGd16W0gZGVzY29icmlyIGV4YXRhbWVudGUgcGFyYSBxdWUgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHNlcnZlIG8gVW5pdmVyc28gZSBwb3IgcXVlIGVsZSBlc3TDoSBhcXVpLCBlbGUgZGVzYXBhcmVjZXJhIGluc3RhbnRhbmVhbWVudGUgZSBzZXJhIHN1YnN0aXR1w61kbyBwb3IgYWxnbyBhaW5kYSBtYWlzIGVzdHJhbmhvIGUgaW5leHBsaWNhdmVsLiBFeGlzdGUgdW1hIHNlZ3VuZGEgdGVvcmlhIHF1ZSBkaXogcXVlIGlzc28gauEgYWNvbnRlY2V1Li4u"
      JWT_VALIDITY: "3600000"
      SERVER_PORT: "8080"
      SPRING_DATASOURCE_PASSWORD: "123456"
      SPRING_DATASOURCE_URL: "jdbc:mysql://database:3306/grotrack"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_JPA_HIBERNATE_DDL_AUTO: "update"
    ports:
      - "8080:8080"
    networks:
      - grotrack-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/swagger-ui.html"]
      timeout: 10s
      retries: 5
      interval: 10s

volumes:
  mysql-data:
    driver: local

networks:
  grotrack-network:
    driver: bridge
